{% extends "blog/base.html" %}

{% block main %}
<div class="login-center">
  <div class="login-container text-white bg-dark">
    <h2 class="mb-5 text-center">Iniciar sesión</h2>
    <form method="POST" action="{% url 'login' %}">
      {% csrf_token %}
      {% if form.errors %}
        <div class="alert alert-danger" role="alert">
          Su nombre de usuario y contraseña no coinciden. Por favor intente de nuevo.
        </div>
      {% endif %}
      <div class="mb-4">
        {% comment %} <label for="username" class="form-label">{{ form.username.label_tag }}</label> {% endcomment %}
        <input 
          type="text" 
          class="form-control" 
          id="username" 
          name="username" 
          placeholder="{{ form.username.label }}"
          required
        >
      </div>
      <div class="mb-4">
        {% comment %} <label for="password" class="form-label">{{ form.password.label_tag }}</label> {% endcomment %}
        <input 
          type="password" 
          class="form-control" 
          id="password" 
          name="password" 
          placeholder="{{ form.password.label }}" 
          required
        >
      </div>
      <input type="submit" value="login" class="btn btn-primary w-100 mt-2" />
      <input type="hidden" name="next" value="{{ next }}" />
      <div class="text-center mt-5">
        <a href="#" class="text-decoration-none text-info">¿Olvidaste tu contraseña?</a>
      </div>
    </form>
  </div>
</div>
{% endblock %} 