{% extends 'blog/base.html' %}

{% block content %}
  {% for post in posts %}
    <article class="post">
      <div class="post-header d-flex flex-column flex-md-row align-items-start align-items-md-center gap-2">
        <time class="order-1 order-md-2">
          {{ post.published_date|date:"j F, Y" }}
        </time>
        <h2 class="order-2 order-md-1 mb-0">
          <a href="{% url 'post_detail' pk=post.pk %}">
            {{ post.title }}
          </a>
        </h2>
      </div>
     	<p>{{ post.text|truncatechars:250 }}</p>
      <a class="btn btn-outline-light mt-2" href="{% url 'post_detail' pk=post.pk %}" role="button">
        Comments: {{ post.comments.count }}
      </a>
    </article>
    <hr />
  {% endfor %}
{% endblock %}
