{% extends 'blog/base.html' %}

{% block content %}
   {% for post in posts %}
      <article class="post">
         <div class="post-header">
            <h2>
               <a href="{% url 'post_detail' pk=post.pk %}">
                  {{ post.title }}
               </a>
            </h2>
      	   <time class="date">
               {{ post.published_date|date:"j F, Y" }}
            </time>
         </div>
      	<p>{{ post.text|truncatechars:250 }}</p>
         <hr />
      </article>
   {% endfor %}
{% endblock %}
