/* Fondo oscuro general */
body {
	background-color: #121212;
	color: #ffffff;
  }
  
  /* Animación suave al mostrar/ocultar el menú hamburguesa */
  .navbar-collapse {
	  transition: all 0.3s ease;
  }
  
h1, 
h2, 
h3, 
h4 {
    font-family: 'Lobster', cursive;
    font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 2rem;
    font-weight: 600;
}

hr {
    margin: 3rem 0;
}

.actions {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center; /* o flex-end, según el diseño */
}

.actions form {
    margin: 0;
    display: inline-flex;
    align-items: center;
}

.btn-secondary,
.btn-secondary:visited {
    color: #FFFFFF;
    background-color: #212529;
    border-color: none; 
    margin-left: 15px;
}

.btn-secondary:hover {
    background-color: #000000;
}

.post {
    margin-bottom: 40px;
}

.post h2 a, 
.post h2 a:visited,
.post-title,
.post-form {
    color: #999999;  
    text-decoration: none;
}

.post button {
    margin: 0;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.post-header time {
    color: #AAAAAA;
    margin-bottom: 0;
    font-size: 0.9em;
}

.post-header h2 {
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
}

.post-form a,
.post-form button{
    margin: 0;
}

.post-form textarea, 
.post-form input {
    width: 100%;
}

.post-title {
    margin-bottom: 20px;
}