html, body {
    height: 100%;
    min-height: 100%;
}

/* Fondo oscuro general */
body {
	background-color: #121212;
	color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
  
/* Animación suave al mostrar/ocultar el menú hamburguesa */
.navbar-collapse {
    transition: all 0.3s ease;
}
  
h1, 
h2, 
h3, 
h4 {
    font-family: 'Lobster', cursive;
    font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 2rem;
    font-weight: 600;
}

hr {
    margin: 3rem 0;
}

main.container {
    flex: 1 0 auto;
}

footer {
    margin-top: auto;
}

.actions {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center; /* o flex-end, según el diseño */
}

.actions form {
    margin: 0;
    display: inline-flex;
    align-items: center;
}

.comment {
    margin: 1.25rem 0 1.25rem 1.25rem;
}

.comment h5 {
    margin-bottom: .1rem;    
}

.comment p {
    margin-top: 1rem;    
}

.btn-secondary,
.btn-secondary:visited {
    color: #FFFFFF;
    background-color: #212529;
    border-color: none; 
    margin-left: 15px;
}

.btn-secondary:hover {
    background-color: #000000;
}

.login-center {
    min-height: calc(100vh - 58px);  /* 58px es el alto de tu header/navbar */
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    width: 400px;
    border-radius: 10px;
    padding: 2rem;
}

.post {
    margin-bottom: 40px;
}

.post h2,
.post h2 a, 
.post h2 a:visited,
.post-title,
.post-form {
    color: #999999;  
    text-decoration: none;
}

.post button {
    margin: 0;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.post-header time,
.comment time {
    color: #AAAAAA;
    margin-bottom: 0;
    font-size: 0.9em;
}

.post-header h2 {
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
}

.post-form a,
.post-form button{
    margin: 0;
}

.post-form textarea, 
.post-form input {
    width: 100%;
}

.post-title {
    margin-bottom: 20px;
}

.reset-container {
    max-width: 550px; /* o el ancho que prefieras */
    width: 100%;
    margin: 0 auto;   
}

/* blog/static/blog/styles.css */
.reset-container input[type="password"] {
    /* Aplica solo a los inputs de contraseña en el reset */
    background: #222;
    color: #fff;
    border: 1px solid #555;
    border-radius: 4px;
    padding: 0.5rem;
    width: 100%;
    margin-bottom: 1rem;
}

@media (max-width: 576px) {
    .login-container {
      max-width: 90vw;
      padding: 1.5rem;
    }
}